
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



.c1{
	background-color: #ef6e69;
}
.c2{
	background: #f279a2;
}
.c3{
	background: #9170cb;
}
.c4{
	background: #5eb3f6;
}
.c5{
	background: #67d7e5;
}
.c6{
	background: #fee183;
}





.wrapper_main{
	background: #ebf3f6;
	margin: 0 auto;
	margin-top: 20px;
	width: 620px;
	min-height: 123px;
	word-wrap: break-word;
	padding: 14px 80px 20px 34px;
}
.wrapper_div{

	width:602px;
	min-height: 59px;



}
.div{

background: #ee6a68;
}
.container{

	width:100%;
	min-height: 59px;
	position: relative;
	margin-bottom: 1px;
}
.item{
background: #ee6a68;
position: absolute;
z-index: 2;
border-radius: 3px;
height: 100%;
top: 0;

}


.container_input{
	width: 600px;
	height: 60px;
	display: grid;
	grid-template-columns: 60px 540px;
	position: relative;
z-index: 10;
}

.input{
	grid-column-start: 1;
	grid-column-end: 2;
	padding: 18px 0  0 15px ;
}
.input_text{
	grid-column-start: 2;
	grid-column-end: 3;
	padding: 18px 0 0 20px;
}




.Todo{
	color: white;
	font: 550 18px arial;
	/*margin-left: 42px;*/
}

#TodoItem{
border: 1px solid #6a6666;
background: #dedede;
  padding: 0.5em;
  -webkit-appearance: none;
}
#TodoItem:checked{
background: black;
  background-size: 5px 5px;
	
}

.wrapper{
background: white;
	display: grid;
	grid-template-columns: 120px auto 130px 90px;
width: 660px;
min-height: 48px;
margin: 15px 0 0 0;
border-radius: 3px;

}
.add{
	grid-column-start: 1;
	grid-column-end: 3;



}
 .add input{
 	width: 100%;
 	height: 100%;
outline: none;
border: none;
 	color: #7e756c;
 font: 14px arial;
/* padding-left: 21px;*/

 }
.container_colors{
	grid-column-start: 3;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	justify-content:space-between;

}
.container_colors div{
	width: 14px;
	height: 14px;

	border-radius: 3px;
	margin-top: 17px;
}

.button{
	rid-column-start: 4;
	grid-column-end: 5;
	padding: 6px 9px 6px 15px;
}
#click{
	background: #26a59a;
	width: 64px;
	height: 34px;
	border-style: none;
	border-radius: 3px;
	color: white;
	font-family: arial;
}